body {
	cursor: url('images/cursor.cur'), auto;
	background: url('images/fire-flames.gif');
	background-color: #00ff00;
	font-family: Courier, 'Comic Sans MS', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.container {
    flex-grow: 1;
	display: flex;
	flex-direction: column;
    /* background-color: #00ff00 !important; */
	background: url('images/background.avif');
	color: #00ccff;
    width: 70%;
    max-width: 900px;
	overflow-x: hidden;
	overflow-y: auto;
    box-sizing: border-box;
	box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9, inset -2px -2px #001ea0, inset 2px 2px #166aee,
        inset -3px -3px #003bda, inset 3px 3px #0855dd;
    border-radius: 8px;
    -webkit-font-smoothing: antialiased;
}

.container::-webkit-scrollbar{
	display: none;
}

marquee {
	margin: 10px;
	color: red;
	z-index: 10;
}

.content {
	padding: 20px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

/* CREDIT TO https://github.com/botoxparty/XP.css */
.title-bar {
	position: relative;
    font-family: "Trebuchet MS";
    background: linear-gradient(
        180deg,
        rgba(9, 151, 255, 1) 0%,
        rgba(0, 83, 238, 1) 8%,
        rgba(0, 80, 238, 1) 40%,
        rgba(0, 102, 255, 1) 88%,
        rgba(0, 102, 255, 1) 93%,
        rgba(0, 91, 255, 1) 95%,
        rgba(0, 61, 215, 1) 96%,
        rgba(0, 61, 215, 1) 100%
    );
    padding: 10px 0px 10px 3px;
	color: red;
    border-top: 1px solid #0831d9;
    border-left: 1px solid #0831d9;
    border-right: 1px solid #001ea0;
    border-top-left-radius: 8px;
    border-top-right-radius: 7px;
    font-size: 15px;
    text-shadow: 1px 1px #0f1089;
    height: 35px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.title-bar-text {
    padding-left: 10px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #00ccff;
    margin-bottom: 20px;
	padding-bottom: 10px;
}

#navbar h1{
	margin: 0;
}

#navbar div{
	display: flex;
	flex-direction: row;
	gap: 15px;
	flex-wrap: wrap;
}

#banner{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 600px) {
	#banner{
		display: none;
	}

	#navbar {
		flex-direction: column;
	}

	
}

#about-me p{
	font-size: 18px;
}

#links div{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 25px;
	font-size: 20px;
	font-weight: bold;
}

#links div a{
	color: #00f7ff;
}

#under-construction{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.guestbook-entry {
	border: 1px solid #000000;
	padding: 10px;
	margin: 10px 0;
	background-color: #ffffff;
}

.pagination {
	display: flex;
	justify-content: space-between;
	width: 200px;
	margin: 20px auto;
}

button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #007bff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #007bff, #1241bf); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #007bff, #1241bf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid #000;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

button:active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform: translate(2px, 2px);
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

#toddvideo{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#toddvideo video{
	width: 100%;
	max-width: 500px;
}

#badges {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
    justify-content: center;
	width: 100%;
}

#badges img {
    width: 88px;
    height: 31px;
}

#footer{
	margin-top: auto;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}